In [35]:
# импорт пандас
import pandas as pd

# исходные данные
petersburg = [0.0974, 0.1352, 0.0817, 0.1016, 0.0968, 0.1064, 0.105]
magadan = [0.1033, 0.0915, 0.0781, 0.0685, 0.0677, 0.0697, 0.0764, 0.0689]

In [39]:
# data = pd.DataFrame({
#     'petersburg': petersburg,
#     'magadan': magadan
# })

data_spb = pd.DataFrame({
    'area': 'petersburg',
    'pizza_size': petersburg
})
data_mag = pd.DataFrame({
    'area': 'magadan',
    'pizza_size': magadan
})
# data_spb['area'] = data_spb['area'].str
data_spb.info()
data = pd.concat([data_spb, data_mag], ignore_index=True)
data.head(20)
# data.head()
# display(data.head(10))
# data['petersburg'].fillna(data['petersburg'].median(), inplace=True)
# display(data.head(10))
data.corr()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area        7 non-null      object
 1   pizza_size  7 non-null      float64
dtypes: float64(1), object(1)
memory usage: 240.0+ bytes

C:\Users\admin\AppData\Local\Temp\ipykernel_4032\749741580.py:22: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.corr()

            pizza_size
pizza_size         1.0

In [16]:
display(data.corr())
display(data.corr(method='pearson'))
display(data.corr(method='kendall'))
display(data.corr(method='spearman'))

            petersburg   magadan
petersburg    1.000000  0.256665
magadan       0.256665  1.000000

            petersburg   magadan
petersburg    1.000000  0.256665
magadan       0.256665  1.000000

            petersburg   magadan
petersburg    1.000000  0.181848
magadan       0.181848  1.000000

            petersburg   magadan
petersburg    1.000000  0.155691
magadan       0.155691  1.000000

In [22]:
H0 = 'Данные распределены нормально'
Ha = 'Данные не распределены нормально (мы отвергаем H0)'
alpha = 0.05

import scipy.stats as stat

_, p = stat.shapiro(data)
print('p=%.3f' % p)
print(H0 if p > alpha else Ha)


_, p = stat.spearmanr(data)

print(_, p)

p=0.101
Данные распределены нормально
0.15569141404872366 0.712761707999163