In [7]:
import pandas as pd

df = pd.read_excel('data/grades.xlsx', sheet_name=None)
print(df.keys)
display(df)

<built-in method keys of dict object at 0x000001B96A85EB80>

{'Maths':    Student ID Student name  Grade
 0           1          Аня      8
 1           2         Катя      9
 2           3         Маша      7
 3           4         Миша      4
 4           5         Женя      8
 5           6          Оля      9
 6           7         Витя      8
 7           8         Дима      7
 8           9         Витя      5,
 'ML':    Student ID Student name  Grade
 0           1          Аня      7
 1           2         Катя      5
 2           3         Маша      9
 3           4         Миша      8
 4           5         Женя      9
 5           6          Оля      9
 6           7         Витя      7
 7           8         Дима      4
 8           9         Витя      5}

In [4]:
data = pd.read_excel('https://github.com/asaydn/test/raw/master/january.xlsx')
display(data)

,January 2020 Sales,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Global Sales Report,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,Location,Oranges,Apples,Bananas,Blueberries,Total
3,Toronto,7651,4422,8580,3679,24332
4,Los Angeles,273,2998,9890,7293,20454
5,Atlanta,3758,6752,4599,4149,19258
6,New York,4019,8796,8486,9188,30489