In [1]:
import pandas as pd

df = pd.read_excel('data/grades.xlsx', sheet_name=None)
print(df.keys)
display(df)

<built-in method keys of dict object at 0x0000020159747D00>

{'Maths':    Student ID Student name  Grade
 0           1          Аня      8
 1           2         Катя      9
 2           3         Маша      7
 3           4         Миша      4
 4           5         Женя      8
 5           6          Оля      9
 6           7         Витя      8
 7           8         Дима      7
 8           9         Витя      5,
 'ML':    Student ID Student name  Grade
 0           1          Аня      7
 1           2         Катя      5
 2           3         Маша      9
 3           4         Миша      8
 4           5         Женя      9
 5           6          Оля      9
 6           7         Витя      7
 7           8         Дима      4
 8           9         Витя      5}

In [2]:
data = pd.read_excel('https://github.com/asaydn/test/raw/master/january.xlsx')
display(data)

,January 2020 Sales,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Global Sales Report,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,Location,Oranges,Apples,Bananas,Blueberries,Total
3,Toronto,7651,4422,8580,3679,24332
4,Los Angeles,273,2998,9890,7293,20454
5,Atlanta,3758,6752,4599,4149,19258
6,New York,4019,8796,8486,9188,30489

In [3]:
df = pd.read_csv('data/countries.csv')
df.to_excel('data/out.xlsx')#, sheet_name='Main', index=False)

In [5]:
df_movies = pd.read_excel('data/ratings+movies.xlsx', sheet_name=0)
df_ratings = pd.read_excel('data/ratings+movies.xlsx', sheet_name=1)
print(df_movies.shape)
print(df_ratings.shape)

(100836, 4)
(9742, 3)

In [12]:
print(df_movies.head())
print(df_ratings.head())
df_result = df_movies.merge(
    df_ratings,
    on='movieId'
)
print(df_result.shape)
print(df_result.head())
df_result.to_excel('data/ratings+movies_result.xlsx')

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy
(100836, 6)
   userId  movieId  rating   timestamp             title  \
0       1        1     4.0   964982703  Toy Story (1995)
1       5        1     4.0   847434962  Toy Story (1995)
2       7        1     4.5  1106635946  Toy Story (1995)
3      15        1     2.5  1510577970  Toy Story (1995)
4      17        1     4.5  1305696483  Toy Story (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1  Adventure|Animation|Children|Comedy|Fantasy
2  Adventure|Animation|Children|Comedy|Fantasy
3  Adventure|Animation|Children|Comedy|Fantasy
4  Adventure|Animation|Children|Comedy|Fantasy

PermissionError: [Errno 13] Permission denied: 'data/ratings+movies_result.xlsx'