In [11]:
import pandas as pd

df_countries = pd.read_csv('data/countries.csv', sep=';')
print(df_countries.shape)

df_countries.to_csv('data/countries.txt', index=False, sep=' ')

txt_df = pd.read_table('data/countries.txt', sep=' ', index_col='country')
print(txt_df.shape)
display(txt_df)

(7, 3)
(7, 2)

           population    square
country
Англия          56.29    133396
Канада          38.05   9984670
США            322.28   9826630
Россия         146.24  17125191
Украина         45.50    603628
Беларусь         9.50    207600
Казахстан       17.04   2724902