In [2]:
import pandas as pd

df = pd.read_csv('data/wine_cleared.zip')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             129971 non-null  int64
 1   country                129908 non-null  object
 2   description            129971 non-null  object
 3   designation            129971 non-null  object
 4   points                 129971 non-null  int64
 5   price                  129971 non-null  float64
 6   province               129908 non-null  object
 7   region_1               129971 non-null  object
 8   taster_name            129971 non-null  object
 9   taster_twitter_handle  129971 non-null  object
 10  title                  129971 non-null  object
 11  variety                129970 non-null  object
 12  winery                 129971 non-null  object
dtypes: float64(1), int64(2), object(10)
memory usage: 12.9+ MB

In [3]:
# Task 2.1
print('Наименьший балл за вино: {}'.format(df['points'].min()))

80

In [4]:
# Task 2.2
print('Наименьшая цена за бутылку: {}'.format(df['price'].min()))

Наименьшая цена за бутылку: 4.0

In [6]:
#!pip install statistics
import statistics

In [15]:
# Task 2.3
round(statistics.mean(df['price']), 2)

35.363389129985535
35.36338912999136
35.363389129985535

35.36

In [40]:
# Task 2.4

print(df['price'].mean())

35.363389129985535

In [16]:
# Task # 2.5
statistics.median(df['price'])

28.0

In [43]:
#Task 2.6
df_sorted = df['price'].sort_values()

def median_indexes(all_length):
    if all_length % 2 == 0:
        return [all_length // 2 - 1, all_length // 2]
    else:
        return [all_length // 2]

sum(df_sorted.iloc[median_indexes(len(df_sorted))]) / len(median_indexes(len(df_sorted)))

28.0

In [46]:
# Task 2.7
round(statistics.mode(df['price']), 2)

35.36

In [63]:
# Task 2.8

d_p = {}

for i in df['price']:
    # print(i)
    if i not in d_p:
        d_p[i] = 0
    d_p[i] += 1

mode_p = 0
mode_k = -1
for k in d_p:
    if d_p[k] > mode_p:
        mode_p = d_p[k]
        mode_k = k

print(mode_k)

#df['price'].value_counts()

35.363389129985535

In [67]:
#Task 3.3

df.corr()

C:\Users\admin\AppData\Local\Temp\ipykernel_18404\3672294053.py:3: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

            Unnamed: 0    points     price
Unnamed: 0    1.000000  0.007124  0.004652
points        0.007124  1.000000  0.402137
price         0.004652  0.402137  1.000000