In [1]:
import pandas as pd

data = pd.read_csv('data/ab_data_tourist.zip')

data.head()

   user_id        date group  purchase   price
0   851104  2021-01-21     A         0       0
1   804228  2021-01-12     A         0       0
2   661590  2021-01-11     B         0       0
3   853541  2021-01-08     B         0       0
4   864975  2021-01-21     A         1  150000

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   294478 non-null  int64
 1   date      294478 non-null  object
 2   group     294478 non-null  object
 3   purchase  294478 non-null  int64
 4   price     294478 non-null  int64
dtypes: int64(3), object(2)
memory usage: 11.2+ MB

In [4]:
data['date'] = pd.to_datetime(data['date'])
data_date = data.groupby('group')['date'].agg(['min', 'max'])
display(data_date)

             min        max
group
A     2021-01-02 2021-01-24
B     2021-01-02 2021-01-24

In [15]:
data['user_id2'] = data['user_id']
data_conv = data.groupby('group', as_index=False).agg({'user_id': 'nunique', 'user_id2': 'count', 'purchase':'sum', 'price': 'sum'})
# [['purchase', 'price']].sum()
display(data_conv)

  group  user_id  user_id2  purchase       price
0     A   146195    147202     17723  1436260000
1     B   146284    147276     17514  1554100000

2990360000 2990.36

In [18]:
users_a = set(data['user_id'][data['group'] == 'A'])
users_b = set(data['user_id'][data['group'] == 'B'])
users_intersection = users_a.intersection(users_b)
print(len(users_a), len(users_b), len(users_intersection))

146195 146284 1895