In [1]:
from statsmodels.stats.proportion import proportions_ztest
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

ab_data = pd.read_csv('data/ab_data.zip')
ab_data.shape

(290482, 4)

In [2]:
converted_piv= ab_data.groupby('group')['converted'].agg(
    ['sum', 'count']
)
display(converted_piv)

         sum   count
group
A      17467  145241
B      17238  145241

In [3]:
# нулевая и альтернативная гипотезы
H0 = 'Конверсии в группах А и B равны'
H1 = 'Конверсия в группе А выше, чем конверсия в группе B'
alpha = 0.05 # уровень значимости
# вычисляем значение p-value для z-теста для пропорций
_, p_value = proportions_ztest(
    count=converted_piv['sum'], #число "успехов"
    nobs=converted_piv['count'], #общее число наблюдений
    alternative='larger',
)
def checking(alpha=alpha):
    # выводим результат на экран
    print('p-value: ', round(p_value, 2))
    # сравниваем полученное p-value с уровнем значимости
    if (p_value < alpha): 
        print("Отвергаем нулевую гипотезу. {}".format(H0))
        print("Альтернативная гипотеза. H1: {}".format(H1))
    else:
        print("Принимаем нулевую гипотезу. {}".format(H0))
    print()
 
 # p-value:  0.1
# Принимаем нулевую гипотезу. Конверсии в группах А и B равны
checking()
checking(0.1)

p-value:  0.1
Принимаем нулевую гипотезу. Конверсии в группах А и B равны

p-value:  0.1
Отвергаем нулевую гипотезу. Конверсии в группах А и B равны
Альтернативная гипотеза. H1: Конверсия в группе А выше, чем конверсия в группе B

In [4]:
time_data = pd.read_excel('data/time_data.xlsx')
display(time_data.head())

   time(A)  time(B)
0    435.0    549.2
1    454.5    630.2
2    447.0    437.2
3    480.0    637.2
4    561.0    712.4