In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

data = pd.read_csv('data/ab_data.zip')
data.head()

   user_id   timestamp group  converted
0   851104  2017-01-21     A          0
1   804228  2017-01-12     A          0
2   661590  2017-01-11     B          0
3   853541  2017-01-08     B          0
4   864975  2017-01-21     A          1

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290482 entries, 0 to 290481
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    290482 non-null  int64
 1   timestamp  290482 non-null  object
 2   group      290482 non-null  object
 3   converted  290482 non-null  int64
dtypes: int64(2), object(2)
memory usage: 8.9+ MB

In [3]:
data['timestamp'] = pd.to_datetime(data['timestamp'], format='%Y-%m-%d')

In [9]:
daily_data = data.groupby(['timestamp','group']).agg({
    'user_id':'count',
    'converted':'sum'
}).reset_index().rename(columns={'user_id': 'users_count'})
daily_data.head()

   timestamp group  users_count  converted
0 2017-01-02     A         2851        357
1 2017-01-02     B         2848        339
2 2017-01-03     A         6584        749
3 2017-01-03     B         6620        754
4 2017-01-04     A         6573        797