In [2]:
import pandas as pd

data = pd.read_csv('data/heart.zip')
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
data['old'] = data['age'].apply(lambda x : 1 if x > 60 else 0)
data['old'].sum()

79

In [32]:
trestbps_table = '''
0-20	123/76	116/72
21-30	126/79	120/75
31-40	129/81	127/80
41-50	135/83	137/84
51-60	142/85	144/85
61-1000	142/80	159/85
'''

trestbps_table = trestbps_table.split('\n')[1:-1]
for (i, v) in enumerate(trestbps_table):
    v = v.split('\t')
    trestbps_table[i] = [
        int(v[0].split('-')[0]),
        int(v[0].split('-')[1]),
        [
            int(v[2].split('/')[0]),
            int(v[1].split('/')[0])
        ]
    ]
    
def trestbps_mean(age, sex):
    for e in trestbps_table:
        if e[0] <= age <= e[1]:
            try:
                return e[2][int(sex)]
            except Exception as e:
                print(age, sex)
                raise e
            
    raise Exception('Nof matched {} and {}'.format(age, sex))

data['trestbps_mean'] = data.apply(lambda row: trestbps_mean(row['age'], row['sex']), axis=1)
data['trestbps_mean'][300]

142

In [36]:
data.nunique()

age               41
sex                2
cp                 4
trestbps          49
chol             152
fbs                2
restecg            3
thalach           91
exang              2
oldpeak           40
slope              3
ca                 5
thal               4
target             2
old                2
trestbps_mean      8
dtype: int64

In [41]:
#Task 8.4
checking_features = '''
sex
cp
fbs
oldpeak
restecg
exang
age
slope
ca
thal
target
'''
checking_features = checking_features.split('\n')[1:-1]

for i,f in enumerate(checking_features):
    print(f)
    print(data.groupby(by=f)[f].count())

sex
sex
0     96
1    207
Name: sex, dtype: int64
cp
cp
0    143
1     50
2     87
3     23
Name: cp, dtype: int64
fbs
fbs
0    258
1     45
Name: fbs, dtype: int64
oldpeak
oldpeak
0.0    99
0.1     7
0.2    12
0.3     3
0.4     9
0.5     5
0.6    14
0.7     1
0.8    13
0.9     3
1.0    14
1.1     2
1.2    17
1.3     1
1.4    13
1.5     5
1.6    11
1.8    10
1.9     5
2.0     9
2.1     1
2.2     4
2.3     2
2.4     3
2.5     2
2.6     6
2.8     6
2.9     1
3.0     5
3.1     1
3.2     2
3.4     3
3.5     1
3.6     4
3.8     1
4.0     3
4.2     2
4.4     1
5.6     1
6.2     1
Name: oldpeak, dtype: int64
restecg
restecg
0    147
1    152
2      4
Name: restecg, dtype: int64
exang
exang
0    204
1     99
Name: exang, dtype: int64
age
age
29     1
34     2
35     4
37     2
38     3
39     4
40     3
41    10
42     8
43     8
44    11
45     8
46     7
47     5
48     7
49     5
50     7
51    12
52    13
53     8
54    16
55     8
56    11
57    17
58    19
59    14
60    11
61     8
62    11
63     9
64    10
65     8
66     7
67     9
68     4
69     3
70     4
71     3
74     1
76     1
77     1
Name: age, dtype: int64
slope
slope
0     21
1    140
2    142
Name: slope, dtype: int64
ca
ca
0    175
1     65
2     38
3     20
4      5
Name: ca, dtype: int64
thal
thal
0      2
1     18
2    166
3    117
Name: thal, dtype: int64
target
target
0    138
1    165
Name: target, dtype: int64