In [2]:
import pandas as pd

data = pd.read_csv('data/heart.zip')
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
data['old'] = data['age'].apply(lambda x : 1 if x > 60 else 0)
data['old'].sum()

79

In [32]:
trestbps_table = '''
0-20	123/76	116/72
21-30	126/79	120/75
31-40	129/81	127/80
41-50	135/83	137/84
51-60	142/85	144/85
61-1000	142/80	159/85
'''

trestbps_table = trestbps_table.split('\n')[1:-1]
for (i, v) in enumerate(trestbps_table):
    v = v.split('\t')
    trestbps_table[i] = [
        int(v[0].split('-')[0]),
        int(v[0].split('-')[1]),
        [
            int(v[2].split('/')[0]),
            int(v[1].split('/')[0])
        ]
    ]
    
def trestbps_mean(age, sex):
    for e in trestbps_table:
        if e[0] <= age <= e[1]:
            try:
                return e[2][int(sex)]
            except Exception as e:
                print(age, sex)
                raise e
            
    raise Exception('Nof matched {} and {}'.format(age, sex))

data['trestbps_mean'] = data.apply(lambda row: trestbps_mean(row['age'], row['sex']), axis=1)
data['trestbps_mean'][300]

142